In [2]:
x = 7
y= 'data'

print(x)
print(y)

7
data

In [3]:
my_variable = 10
print(my_variable)

10

In [8]:
my_variable += 5
print(my_variable)

30

Working with Strings

In [9]:
"I am a MSBA student"

question = "What are you studying?"
answer = "Analytics!"

print(question)
print(answer)

What are you studying?
Analytics!

In [ ]:
print(question + " " + answer) # Concatenation using standard format
print(f'{question} {answer}') # Concatenation using f-string format

What are you studying? Analytics!

In [12]:
### adding a line break
print(question + '\n' + answer)

What are you studying?
Analytics!

In [16]:
type(answer)

str

In [17]:
len(answer)

10

### Indexing a string

In [ ]:
answer[0] # First character
answer[2] # Third character
# answer[10] # Tenth character
answer[-1]

'!'

In [24]:
course = 'CTBA'

len(course)

print(course[0:2]) # First two characters

CT

### Functions and Methods

In [ ]:
answer_cap = answer.upper() # Convert to uppercase
print(answer_cap)

ANALYTICS!

In [ ]:
answer.lower() # Convert to lowercase

answer.find('t') # Find the index of the first occurrence of 't

5

In [ ]:
name = 'Tai Chirasittikorn' # That's very longgggggggg last name

print('Hello, my name is ' + name + '. I am studying Business Analytics.')
print(f'Hello, my name is {name}. I am studying Business Analytics.')

Hello, my name is Tai Chirasittikorn. I am studying Business Analytics.
Hello, my name is Tai Chirasittikorn. I am studying Business Analytics.

## Tuples

In [32]:
t1 = (1, 2, 3, 4, 5)
print(t1)

(1, 2, 3, 4, 5)

In [ ]:
t1[0] = 11 # Tuples are immutable, so this will raise an error

TypeError: 'tuple' object does not support item assignment

In [39]:
d1 = {'name': 'Tai Chirasittikorn',
      'age': 8,
      'city': 'Williamsburg'
      }

print(d1)
print(d1['name'])

d1['email'] = 'tchirasittikor01@wm.edu'
print(d1)

{'name': 'Tai Chirasittikorn', 'age': 8, 'city': 'Williamsburg'}
Tai Chirasittikorn
{'name': 'Tai Chirasittikorn', 'age': 8, 'city': 'Williamsburg', 'email': 'tchirasittikor01@wm.edu'}

In [41]:
## Formatting the 
for key, value in d1.items():
    print(key, ':', value)

name : Tai Chirasittikorn
age : 8
city : Williamsburg
email : tchirasittikor01@wm.edu

In [ ]:
people = {
    'person1': {'name': 'Tai Chirasittikorn', 'age':8, 'city': 'Williamsburg'},
    'person2': {'name': 'Salad Steak', 'age':1, 'city':'Bangkok'}
}
people

In [ ]:
distances = {
    'A': {'B':10, 'C':15},
    'B': {'A':10, 'C':20},
    'C': {'A':15, 'B':20}
}
print(distances)

{'A': {'B': 10, 'C': 15}, 'B': {'A': 10, 'C': 20}, 'C': {'A': 15, 'B': 20}}

In [48]:
studnets = {
    'student1': {'name': 'Bryce', 'grade':3.8, 'major': 'MSBA', '#ofcourses': 1},
    'student2': {'name': 'Mann', 'grade':3.6, 'major': 'MSBA', '#ofcourses': 2},
    'student3': {'name': 'Tai', 'grade':3.4, 'major': 'MSBA', '#ofcourses': 3},
    'student4': {'name': 'Conner', 'grade':3.7, 'major': 'MSBA', '#ofcourses': 4}
}

### If statements

In [50]:
x= 10

if x > 5:
    print('x is greater than 5')

x is greater than 5

### If Else

In [52]:
x = 4
if x % 2 == 0:
    print('x is even')
else:
    print('x is odd')

x is even

### Working with elif

In [54]:
x = 0
if x > 0:
    print('x is positive')
elif x == 0:
    print('x is zero')
else:
    print('x is Negative')

x is zero

### For loooooooooooooooooops

In [57]:
# with an i and a range function
for i in range(5):
    print('i is', i)

i is 0
i is 1
i is 2
i is 3
i is 4

In [58]:
x = 0

while x< 5:
    if x % 2 == 0:
        print(x, 'is even')
    else:
        print(x, 'is odd')
    x += 1

0 is even
1 is odd
2 is even
3 is odd
4 is even

In [59]:
import numpy as np

In [1]:
arr1 = np.array([1,2,3,4,5])
print(arr1)

NameError: name 'np' is not defined